.header{
    width: 100%;
    height: 100px;
    background: linear-gradient(to left, rgba(255,0,0,0),rgb(18, 56, 223));
}
.nav{
    height: 30px;
   
    
}
.navbar{
    background: linear-gradient(to left, rgba(255,0,0,0),rgb(18, 56, 223));
    height: 70px;

}
.d-block{
    height: 500px;
    align-content: center;
    width: 100%;
    margin-top: 2px;
}
#i_text{
    color: #ffffff;
    font-size: 15PX;
    font-weight: bold;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 5px;
    padding-left: 8px;
    padding-top: 5px;
}
#index_text{
    color: #ffffff;
    font-size: 25PX;
    font-weight: bold;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 25px;
    margin-left: 15px;


}



body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.contact{
    
    width: 100%;
    
}
.container{
    width: 100%;
    
}
.logo{
    width: 00%;
    padding-top: 20px;
    
}
.login{
    width: 100%;
    float: left;
    padding-top: 10px;
    margin-left: 0px;
}
.logo-text{
    color: #ffffff;
    font-size: 35PX;
    font-weight: bold;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 100px;

}
.login{
    color: rgb(8, 8, 7);
    font-size: 13px;
    
    
}
.login-l{
    color: lightslategray;
    font-size: 13px;
    text-decoration: none;
}
.login-controls{
  
    color: black;
    display: flex;
	justify-content: flex-start;
	align-items: center;
    text-align: center;
	padding-top: 20px;
	margin-left: 550px;
	margin-top: 10px;
    
}
.login-controls img{
    height:150px;
    width: 100px;
}

.space{
    width: 300px;
    margin-top: 30px;
    border-radius: 3px;
    height: 35px;
    border-style: solid;
    color: black;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 20PX;
}
.s-btn{
	display: block;
	width: 300px;
	height: 40px;
	border-radius: 22px;
	outline: none;
	border: none;
	background:rgb(76, 109, 172);
	background-size: 200%;
	font-size: 1.2rem;
	color: #fff;
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
    margin-left: 10px;
    margin-top: 20px;
	cursor: pointer;
	transition: .5s;
}
.s-btn:hover{
    color: lightblue;
}
a{
    display: block;
	
	text-decoration:black;
	color:black;
    font-size: 15px;
    margin-top: 10px;
    transition: .3s;
    font-weight: bold;
   
    
}
a:hover{
    color: darkgray;

}
.login-controls h4 {
    margin-right:0px;
}
.l{
    display: block;
	text-align: right;
	text-decoration: none;
	color:black;
    font-size: 12px;
    margin-top: 10px;
    transition: .3s;
    font-weight: bold;
    
}
.sp{
    
    width: 300px;
    margin-top: 10px;
    border-radius: 3px;
    height: 35px;
    border-style: solid;
    color: black;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 20PX;

}
#dob{
    width: 90px;
    margin-top: 10px;
    border-radius: 3px;
    height: 35px;
    border-style: solid;
    color: black;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 20PX;
    

}
.ge{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: normal;
    margin-top: 10px;
   
}
.m{
    height: 100px;
    width: 300px;
    border-style: solid;
    color: black;
    border-color:grey;
    border-width: 2px;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;

}
.nav {
    background-color: black;
}
